
body{
  background-color: #aadd77;
  overflow: hidden;
}

.title{
  position: fixed;
  height:20%;
  width: 100%;
  display: block;
  font-size: 70;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-style: normal;
  top: 2%;
  text-align: center;
  z-index: 100;
  -webkit-animation: title 2s;-moz-animation: title 2s;-o-animation: title 2s;-ms-animation: title 2s;
}

#back_space{
  z-index: 100;
  background-color: black;
  opacity: 0.6;
  background-image: url("arrow.png");
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-position: 14px 9px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-size: 30px;
  width: 70px;
  height: 30px;
  top: 10px;
  left: -10px;
  position: fixed;
}
#BARS{
  position: fixed;
  opacity: 0.3;
  width: 100%;
  height:200%;
  left: 0;
  top: 0;
}
/* Describing Right Pannels */
/* slide1 = left for R1 -- slide2 = down for R2 -- slide3 = up for L1 */
.bar_R1{
  position: absolute;background: white;
  width: 15%;height: 46%;top: 50px;left: 1%;
  -webkit-animation: slide1 2s;-moz-animation: slide1 2s;-o-animation: slide1 2s;-ms-animation: slide1 2s;
}
.bar_R2{
  position: absolute;background: white;
  width: 15%;height: 48%;top: 1%;left: 17%;
  -webkit-animation: slide2 2s;-moz-animation: slide2 2s;-o-animation: slide2 2s;-ms-animation: slide2 2s;
}
.bar_L1{
  position: absolute;background: white;
  width: 15%;height: 48%;top: 1%;right: 17%;
  -webkit-animation: slide3 2s;-moz-animation: slide3 2s;-o-animation: slide3 2s;-ms-animation: slide3 2s;
}
.bar_L2{
  position: absolute;background: white;
  width: 15%;height: 48%;top: 1%;right: 1%;
  -webkit-animation: slide4 2s;-moz-animation: slide4 2s;-o-animation: slide4 2s;-ms-animation: slide4 2s;
}.bar_ML{
  position: absolute;background: white;
  width: 15%;height: 37%;top: 12%;left: 34%;
  -webkit-animation: slide5 2s;-moz-animation: slide5 2s;-o-animation: slide5 2s;-ms-animation: slide5 2s;
}.bar_MR{
  position: absolute;background: white;
  width: 15%;height: 37%;top: 12%;right :34%;
  -webkit-animation: slide6 2.2s;-moz-animation: slide6 2.2s;-o-animation: slide6 2.2s;-ms-animation: slide6 2.2s;
}
/*  KEY FRAMES  */
@-webkit-keyframes slide1 {
  0% {left: -15%;}
  100% {left: 1%;}}
@-moz-keyframes slide1 {
  0% {left: -15%;}
  100% {left: 1%;}}
@-o-keyframes slide1 {
  0% {left: -15%;}
  100% {left: 1%;}}
@-ms-keyframes slide1 {
  0% {left: -15%;}
  100% {left: 1%;}}

  @-webkit-keyframes slide2 {
    0% {top: -49%;}
    100% {top: 1%;}}
  @-moz-keyframes slide2 {
    0% {top: -49%;}
    100% {top: 1%;}}
  @-o-keyframes slide2 {
    0% {top: -49%;}
    100% {top: 1%;}}
  @-ms-keyframes slide2 {
    0% {top: -49%;}
    100% {top: 1%;}}

    @-webkit-keyframes slide3{
      0% {top: 101%;}
      100% {top: 1%;}}
    @-moz-keyframes slide3{
      0% {top: 101%;}
      100% {top: 1%;}}
    @-o-keyframes slide3{
      0% {top: 101%;}
      100% {top: 1%;}}
    @-ms-keyframes slide3{
      0% {top: 101%;}
      100% {top: 1%;}}

      @-webkit-keyframes slide4{
        0% {right: -15%;}
        100% {right: 1%;}}
      @-moz-keyframes slide4{
        0% {right: -15%;}
        100% {right: 1%;}}
      @-o-keyframes slide4{
        0% {right: -15%;}
        100% {right: 1%;}}
      @-ms-keyframes slide4{
        0% {right: -15%;}
        100% {right: 1%;}}


  @-webkit-keyframes slide5{
    0% {top: 101%;}
    100% {top: 12%;}}
  @-moz-keyframes slide5{
    0% {top: 101%;}
    100% {top: 12%;}}
  @-o-keyframes slide5{
    0% {top: 101%;}
    100% {top: 12%;}}
  @-ms-keyframes slide5{
    0% {top: 101%;}
    100% {top: 12%;}}

  @-webkit-keyframes slide6{
    0% {top: 110%;}
    100% {top: 12%;}}
  @-moz-keyframes slide6{
    0% {top: 110%;}
    100% {top: 12%;}}
  @-o-keyframes slide6{
    0% {top: 110%;}
    100% {top: 12%;}}
  @-ms-keyframes slide6{
    0% {top: 110%;}
    100% {top: 12%;}}

  @-webkit-keyframes title{
    0% {top: -25%;}
    100% {top: 2%;}}
  @-moz-keyframes title{
    0% {top: -25%;}
    100% {top: 2%;}}
  @-o-keyframes title{
    0% {top: -25%;}
    100% {top: 2%;}}
  @-ms-keyframes title{
    0% {top: -25%;}
    100% {top: 2%;}}
