
body{
  background-color: #aadd77;

}

.hex_back{
  z-index: 1;
  outline: 0;
  border: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -174px;
  margin-left: -200px;
  clip-path: polygon(100px 0px, 300px 0px, 400px 174px, 300px 348px, 100px 348px, 0px 174px);
  background: #F2F2F2;
  height: 348px;
  width: 400px;
  -webkit-animation: hex 4s;
  -moz-animation: hex 4s;
  -o-animation: hex 4s;
  -ms-animation: hex 4s;
}

.title{
  font-size: 80;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-style: normal;
  position: sticky;
  top: 20%;
  text-align: center;
}

#BARS{
  position: fixed;
  opacity: 0.3;
  width: 100%;
  height:200%;
  left: 0;
  top: 0;

}

.bar_L{
  position: absolute;
  background: white;
  width: 30%;
  height: 100%;

  top: -100%;
  left: 0;
  -webkit-animation: slide 4s;
  -moz-animation: slide 4s;
  -o-animation: slide 4s;
  -ms-animation: slide 4s;
}
.bar_R{
  position: absolute;
  background: white;
  width: 30%;
  height: 100%;

  top: -100%;
  right: 0;

  -webkit-animation: slide 4s;
  -moz-animation: slide 4s;
  -o-animation: slide 4s;
  -ms-animation: slide 4s;
}



/*  KEY FRAMES  */
@-webkit-keyframes slide {
  0% {top: -100%;}
  100% {top: 0;}
}
@-moz-keyframes slide {
  0% {top: -100%;}
  100% {top: 0;}
}
@-o-keyframes slide {
  0% {top: -100%;}
  100% {top: 0;}
}
@-ms-keyframes slide {
  0% {top: -100%;}
  100% {top: 0;}
}
