html{
scroll-behaviour: smooth;
overflow: hidden;

}

/* GLOBAL STYLES */
body {
    background-color:#ff9eb5;
    color: black;
    padding-top:8em;
    font-size: 25;
  }

  * { color: #ff6c8f; text-decoration: none; text-align: center;}

/********** Page Scrolling ***********/


#partI{
  transition: 1s;

}

#clickbox{
  position: absolute;
  background-color: black;
  color: black;
  width: 3000px;
  padding-top: 90%;
  height: 5%;
  top: 90%;
}

#title{

visibility: hidden;
  font-size: 37.5pt;

  top: 29.3%;
  left: 37.1%;
  position: fixed;

}

#clickbox:hover{
  animation: move 10s steps(10) infinite alternate;
  animation: slide 1s ease-out;

}



@keyframes slide{
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(-300px);
    }

}
