html{
scroll-behaviour: smooth;
overflow: hidden;

}

/* GLOBAL STYLES */
body {
    background-color:#ff9eb5;
    color: black;
    padding-top:8em;
    font-size: 25;
  }

  * { color: #ff6c8f; text-decoration: none; text-align: center;}

/********** Page Scrolling ***********/


#partI{
  transition: 1s;

}

#clickbox{
  position: absolute;
  background-color: black;
  color: black;
  width: 300px;
  padding-top: 90%;
  height: 5%;
  top: 90%;
  left: 0;
}

#title{
  visibility: hidden;
  font-size: 37.5pt;
  top: 29.3%;
  left: 37.1%;
  position: absolute;

}
