html{
scroll-behaviour: smooth;
overflow: hidden;

}

/* GLOBAL STYLES */
body {
    background-color:#ff9eb5;
    color: black;
    padding-top:8em;
    font-size: 25;
  }

  * { color: #ff6c8f; text-decoration: none; text-align: center;}

/********** Page Scrolling ***********/


#partI{
  transition: 1s;
  visibility: visible;
}
#partII{
  transition: 1s;
  visibility: hidden;
}

#clickbox{
  position: absolute;
  background-color: black;
  color: black;
  width: 100px;
  height: 100px;
  bottom: 0%;
  left: 50%;
  margin-left: -50px;
}

#clickbox:hover ~ #partI{

  -webkit-animation: up 2s linear infinite;
  -moz-animation: up 2s linear infinite;
  -o-animation: up 2s linear infinite;
}

#title{
  visibility: hidden;
  font-size: 37.5pt;
  top: 29.3%;
  left: 37.1%;
  position: absolute;
}

@-webkit-keyframes up {
  0% {margin-bottom: 0px;}
  100% {margin-bottom: 2000px;}
}
@-moz-keyframes up {
  0% {margin-bottom: 0px;}
  100% {margin-bottom: 2000px;}
}
@-o-keyframes up {
  0% {margin-bottom: 0px;}
  100% {margin-bottom: 2000px;}
}
